@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-blue {
  background-color: #0c0c4f;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.img-invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.wrapper {
  margin: 3% 2.5%;
}

.main-zone{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #ddd;
}